.container{
    width: 70%;
    margin-left: 15%;
}
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 30px;
    color: #737373;
    text-overflow: ellipsis;
    
}
.card .small{
    margin-top:10%;
}

.card .small .nums{
    padding: 3%;
    display: inline;
    background-image: radial-gradient(turquoise,aliceblue);
    
}

.card .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card .info {
    padding: 4px 8px 10px;
}

.card .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.bottom {
    position: relative;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 17px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 


.btn{ border-radius: 30%; width:10%; height:7%;background-color:red }
