body{
    background-color: rgb(255, 255, 255);
    padding:0px;
    margin:0px;
    
}
h1{
    color: #ED3E75;
}
#sign{
    width: 35%;
    margin: 0% 75% 0% 35%;
    text-align: center;
    height: 10%;
}
#sign img{
    height: 100%;
}
#dash, #sign{
    
    background-color: black;
    color: #D4D4D4;
    
}
.shado{
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.9);
    /* padding:5px; */
}

a{ color:  rgb(127, 121, 121)werblue; text-decoration-line: none; }
a:hover{ color:blue; }

.fm{
    margin: 0% 75% 0% 35%;
    width: 35%;
    height: 75%;
    padding: 2% 0% 0% 0%; 
    /* background-color:; */
}

#fom{
    margin: 0% 75% 0% 35%;
    width: 35%;
    height: 95%;
    padding: 2% 0% 0% 0%; 
    background-color: whitesmoke;
    
    
}
#fomU{
    margin: 0% 0.5% 0% 0%;
    width: 95%;
    /* height: 95%; */
    padding: 2% 0% 0% 0%; 
    background-color: #383838;
    
    
}

#fom .centa, .modal-content h3{
   text-align: center;
  
}

input{
    width: 90%;
    font-size: 20;
    margin: 10px;
    break-after: auto;
    font-family: 'Times New Roman', Times, serif;
}


.btnconfirm, .subm {
      border-radius: 4px;
      background-color:#ED3E75;
      color: #D4D4D4;
      border: none;
      padding: 0px;
      width: 90%;
      height: 9%;
      /* position: relative; */
      font-size: 150%;  
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      margin-left: 13px;
      margin-top: 1%;

}

#fom p{
    margin:10% 0% 0% 5%; 
    text-align: center;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;

}

.cad a{
    color:black;
}

#futa{
    /* margin-bottom: 0%;  */
    color: black;
    text-align: center;
}

.container{
    width: 70%;
    margin-left: 15%;
}
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 30px;
    color: #737373;
    text-overflow: ellipsis;
    
}
.card .small{
    margin-top:10%;
}

.card .small .nums{
    padding: 3%;
    display: inline;
    background-color: #383838;
    
}

.card .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card .info {
    padding: 4px 8px 10px;
}

.card .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #D4D4D4;
    text-overflow: ellipsis;
}

.bottom {
    position: relative;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 17px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 


.btn{ border-radius: 30%; width:10%; height:7%;background-color: rgb(37, 62, 37) }


